*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: auto;
    background: #333;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}
header > ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li > a{
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #fff;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 60px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

}
main{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
img{
    width: 40%;
    height: 50%;
    margin: 0 auto;
    display: block;
    border: 5px solid #ff0000;
    border-radius: 5px;

}
#commentaire{
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
#commentaire > div {
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input[type="submit"]{
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
}
input[type="submit"]:hover{
    background: #6d6d6d;
}
textarea{
    width: 50%;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 20px;
    display: inline-block;
}

#resultats{
    display: block;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
}
#responseBox{
    width: 50%;
    height: auto;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f4f4f4;
    box-shadow: 0 0 10px #e7e5e5;
    position: relative;
    overflow: hidden;
}
#responseBox p{
    padding-left: 10px;
    display: inline-block;
    text-transform: lowercase;
    font-size: 20px;
}
#responseBox p::first-letter{
    text-transform: uppercase;
}
  
i{
    font-size: 30px;
}
footer{
    width: 100%;
    height: 60px;
    background: #333;
    color: #fff;
    text-align: center;
    line-height: 60px;
    position: relative;
    bottom: 0;
    left: 0;
}

.feed{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feed-action{
    width: 40%;
    margin: 8px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
}
.feed-action > a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    display: inline-block;
}
.feed-action>a > i{
    font-size: 30px;
}

.feed + div > form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.feed+div> h1 {
    text-align: center;
}